# Node Dependencies
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
dist-ssr/

# Astro Cache
.astro/

# Environment Variables
.env
.env.production
.env.local
.env.development
.env.test

# OS Files
.DS_Store
Thumbs.db

# Editor/IDE Files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?